<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>Add Product</title>
  <link rel="stylesheet" href="/View/lib/bootstrap/css/bootstrap.css"/>
  <style>
  </style>
</head>
<body>
<div class="panel panel-success">
  <nav class="navbar navbar-light bg-light">
    <h2 class="p-1">Add Product</h2>
  </nav>
  <div class="panel-body">
    <form id="form" action="/registration" method="post">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-sm-3">
          </div>
          <div class="col-md offset-md p-5">
            <div class="p-1">
              <label>Product</label>
              <select value="" class="form-control" name="first_name" required>
                <option>Fridge</option>
                <option>Laptop</option>
                <option>Phone</option>
                <option>TV</option>
              </select>
            </div>
            <div class="p-1">
              <label>Last Name</label>
              <input type="text" value="{{validated.last_name}}" class="form-control" name="last_name"
                     required/>
            </div>
            <div class="p-1">
              <label>Email</label>
              <input type="email" value="{{validated.email}}" class="form-control" name="email" required/>
            </div>
            <div class="p-1">
              <label>Confirm Email</label>
              <input type="email" value="{{validated.confirm_email}}" class="form-control"
                     name="confirm_email" required/>
            </div>
            <div class="p-1">
              <label>Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <div class="p-1">
              <label>Confirm Password</label>
              <input type="password" class="form-control" name="confirm_password" required>
            </div>
          </div>
          <div class="col col-sm-3">
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary">submit</button>
      </div>
      <div class="text-center p-3">
        <input type="checkbox" name="remember" checked>
        <label>Remember me for a week</label>
      </div>
      <div class="p-3 text-center">
        <a href="/login">Sign-in</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>