<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Checkout</title>
    <script type="text/javascript" src="/View/main.js"></script>
    <link rel="stylesheet" href="/View/lib/bootstrap/css/bootstrap.css"/>
    <style>
    </style>
</head>
<body>
<div class="p-3">
    <a href="/login">Exit</a>
</div>
<div class="p-a-1">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-5 offset-md p-5">
                <div class="p-1">
                </div>
            </div>
        </div>
    </div>
    <form id="form" action="/checkout" method="post">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-sm-3">
                </div>
                <div class="col-md offset-md p-5">
                    <div class="p-1">
                        <label>Product</label>
                        <label>
                            <select class="form-control" name="product" required>
                                <option value="TV">TV</option>
                                <option value="fridge">Fridge</option>
                                <option value="laptop">Laptop</option>
                                <option value="phone">Phone</option>
                            </select>
                        </label>
                    </div>
                    <div class="p-1">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name"
                               required/>
                    </div>
                    <div class="p-1">
                        <label>Cost</label>
                        <input type="number" class="form-control" name="cost" required/>
                    </div>
                    <div class="p-1">
                        <label>Manufacture</label>
                        <input type="text" class="form-control" name="manufacture" required/>
                    </div>
                    <div class="p-1">
                        <label>Date</label>
                        <input type="date" class="form-control" name="date" required/>
                    </div>
                    <br><br><br>
                    <div class="p-1">
                        <label>Add Service</label>
                        <label>
                            <select value="false" class="form-control" name="add_service">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </label>
                    </div>
                    <div class="p-1">
                        <label>Service</label>
                        <label>
                            <select value="Delivery" class="form-control" name="service">
                                <option value="configure">Configure</option>
                                <option value="delivery">Delivery</option>
                                <option value="install">Install</option>
                                <option value="warranty">Warranty</option>
                            </select>
                        </label>
                    </div>
                    <div class="p-1">
                        <label>Deadline</label>
                        <input type="date" class="form-control" name="deadline"/>
                    </div>
                    <div class="p-1">
                        <label>Cost</label>
                        <input type="number" class="form-control" name="service_cost"/>
                    </div>
                </div>
                <div class="col col-sm-3">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Add</button>
        </div>
    </form>
    <div class ="p-2">
        <div class="text-center p-3 text-bg-success">
            Total: {{total}}$
        </div>
        {%if(products)%}
        <table id="files" class="table table-striped">
            <thead>
            <tr>
                <td>Products</td>
                <td>Name</td>
                <td>Cost</td>
                <td>Date</td>
                <td>Manufacture</td>
                <td>Service</td>
                <td>Service Deadline</td>
                <td>Service Cost</td>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.cost }}</td>
                <td>{{ product.date }}</td>
                <td>{{ product.manufacture }}</td>
                <td>{{ product.service.service }}</td>
                <td>{{ product.service.deadline }}</td>
                <td>{{ product.service.cost }}</td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {%endif%}
    </div>
</div>
</body>
</html>